<span class="spanningUnderline @AdditionalAttributes?["class"]"></span>

@code {
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
